[remote "jbruchon"]
	url = https://codeberg.org/jbruchon/libjodycode.git
	fetch = +refs/heads/*:refs/remotes/jbruchon/*
[gsync]
    remote = jbruchon
    target = jbruchon/master
[gdio]
    ignore = ./.gitconfig
    ignore = ./install.sh
[push]
    remote = origin
