[remote "origin"]
	url = https://codeberg.org/jbruchon/libjodycode.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[gsync]
    remote = origin
    target = origin/master
[gdio]
    ignore = ./.gitconfig
    ignore = ./install.sh
